apiVersion: v1
kind: ConfigMap
metadata:  
  name: env-configmap
data:
  JWT_SECRET: "testing"
  URL: "http://localhost:8100"

  # Source Attribution: https://kubernetes.io/docs/concepts/configuration/configmap/